<div class="container mat-elevation-z8">
  <form class="form" >
     <h1 class="fullwidth">Atualizar Tecnico</h1>
     <img src="assets/imagem/tecnico-create.svg" alt="help Desk-dicas de Dev">


  <section class="section">
    <mat-checkbox class="margin" color = "primary">Admin</mat-checkbox>
    <mat-checkbox class="margin" color = "primary">Cliente</mat-checkbox>
    <mat-checkbox class="margin" color = "primary">Tecnico</mat-checkbox>

  </section>



  <mat-form-field class="fullwidth" appearance="legacy">
    <mat-label>Nome</mat-label>
    <input [formControl]="nome" required matInput placeholder="Ex..fulano de tal" maxlength="20">
    <mat-icon matSuffix>badge</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field class="fullwidth" appearance="legacy">
    <mat-label>CPF</mat-label>
    <input mask="000.000.000.00" [formControl]="cpf" required matInput placeholder="Ex..000.000.000-00">
    <mat-icon matSuffix>pin</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field class="fullwidth" appearance="legacy">
    <mat-label>E-mail</mat-label>
    <input [formControl]="email" required matInput placeholder="Ex.. obed@gmail.com">
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <mat-form-field class="fullwidth" appearance="legacy">
    <mat-label>Senha</mat-label>
    <input [formControl]="senha" required type="password" matInput placeholder="Ex.. 1234">
    <mat-icon matSuffix>lock_open</mat-icon>
    <mat-hint></mat-hint>
  </mat-form-field>

  <button (click)="update()" [disabled]=!validaCampo() class="fullwidth  mat-elevation-z4" mat-flat-button color="primary">Atualizar</button>
  <button routerLink="../../" class="fullwidth  mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
  </form>

  <p class="fullwidth">By Oberson Kabwe</p>

</div>
